<div class="heading mb-3">
  <h1>
    AUTHORS LIST
  </h1>
</div>

{{#if messages}}
  <div class="alert alert-{{status}}">{{messages}}</div>
{{/if}}

<table class="table table-striped">
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Surname
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
  {{#each authors}}
    <tr>
      <td>
        {{id}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{surname}}
      </td>
      <td><a
          href="/edit-author/{{id}}"
          class="btn btn-outline-dark"
        >Edit</a></td>
      <td><a
          href="/delete-author/{{id}}"
          class="btn btn-outline-dark btn-delete"
        >Delete</a></td>
    </tr>
  {{/each}}
</table>