<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .heading{ margin-top:80px }
    </style>
  </head>
  <body>
    <div class="heading mb-3">
      <h1>
        Klientu sarasas
      </h1>
    </div>

    {{#if messages}}
      <div class="alert alert-{{status}}">{{messages}}</div>
    {{/if}}

   <div class="clearfix mb-3 toolbar">

    <form action="/list-clients" class="form-inline">
        <div class="input-group">
        <select class="form-select" name="company_id" id="companyfilter">
            <option value="0">Bedarbis</option>
            {{#each companies}}
                <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
            {{/each}}
        </select>

        <select class="form-select" name="order_by" id="orderby">
            <option value="name" {{#eq order_by "name"}}selected="selected"{{/eq}}>Vardą</option>
            <option value="surname" {{#eq order_by "surname"}}selected="selected"{{/eq}}>Pavardę</option>
            <option value="email" {{#eq order_by "email"}}selected="selected"{{/eq}}>El. paštą</option>
            <option value="company_id" {{#eq order_by "company_id"}}selected="selected"{{/eq}}>Kompaniją</option>
        </select>

        <select class="form-select" name="position" id="position">
            <option value="ASC" {{#eq position "ASC"}}selected="selected"{{/eq}}>Didėjanti</option>
            <option value="DESC" {{#eq position "DESC"}}selected="selected"{{/eq}}>Mažėjanti</option>
        </select>

        <button type="submit" class="float-start btn btn-secondary">Filtruoti</button>
        </div>

    </form>

</div>
    {{#if customers}}
      <table class="table table-striped">
        <tr>
          <th>
            ID
          </th>
          <th>
            Nuotrauka
          </th>
          <th>
            Vardas
          </th>
          <th>
            Pavarde
          </th>
          <th>
            Tel. numeris
          </th>
          <th>
            Email adresas
          </th>
          {{! <th>
            Komentaras
          </th> }}
          <th>
            Imone
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        {{! must be same as in clients js }}
        {{#each customers}}
          <tr>
            <td>
              {{id}}
            </td>
            <td>{{#if photo}}<img
                  src="/uploads/{{photo}}"
                  width="50"
                  height="50"
                />{{/if}}</td>
            <td>
              {{name}}
            </td>
            <td>
              {{surname}}
            </td>
            <td>
              {{phone}}
            </td>
            <td>
              {{email}}
            </td>

            {{!-- <td>
              {{comment}}
            </td> --}}
            {{!-- <td>
              {{company_id}}
            </td> --}}
            {{! kad imone matytu liste }}
            <td>{{#if company_name}}{{company_name}}{{else}}Bedarbis{{/if}}</td>

            <td><a
                href="/edit-client/{{id}}"
                class="btn btn-outline-dark"
              >Redaguoti</a></td>
            <td><a
                href="/delete-client/{{id}}"
                class="btn btn-outline-dark btn-delete-company"
              >Istrinti</a></td>
          </tr>
        {{/each}}
      </table>

      <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#each pager}}
            <li class="page-item"><a class="page-link" href="/list-clients/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
      </nav>
    {{else}}

      <h4>Šiuo metu duomenų bazėje nėra įvestų klientų.</h4>

    {{/if}}
  </body>
</html>