<h1 class="heading">
  Edit book
</h1>
{{#if messages}}
  <div class="alert alert-{{status}}">{{messages}}</div>
{{/if}}
<form method="post" action="/edit-book/{{edit_book.id}}">
  <input type="hidden" name="id" value="{{edit_book.id}}" />
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Book title</label>
    <div class="col-sm-10">
      <input type="text" name="title" value="{{edit_book.title}}" />
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Pages</label>
    <div class="col-sm-10">
      <input type="number" name="pages" value="{{edit_book.pages}}" />
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Short description</label>
    <div class="col-sm-10">
      <textarea
        type="text"
        name="short_description"
        rows="5"
        value=""
      >{{edit_book.short_description}}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-2">
      <select name="author_id" class="form-control">
        <option value="0">Select author</option>
        {{#each authors}}
          {{!-- <option value="{{id}}">{{name}}{{surname}}</option> --}}
            <option value="{{id}}"{{#if selected}}selected="selected"{{/if}}>{{name}}{{surname}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn btn-outline-success">Edit</button>
</form>

